/* basic */
:root {
  --main-color: #2b7fff;
  --body-color: #011c44;
  --sec-color-dark: #4a4a4a;
  --sec-color-light: #747272;
  --sec-color-blue: #011f4a;
  --sec-color-yellow: #ffd02b;
  --white: #ffffff;
}

html {
  width: 100%;
}

body {
  font-family: Roboto;
  color: var(--body-color);
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

ul a {
  text-decoration: none;
}

/* logo */

.logo {
  font-weight: 700;
  line-height: 21px;
  color: var(--main-color);
  text-decoration: none;
  text-transform: capitalize;
  font-family: play;
}

/* link */
.links a,
a:visited {
  font-size: 18px;
  color: inherit;
}

.links a:hover {
  font-weight: 700;
  font-size: 18px;
  color: var(--main-color);
}

/* title */
.title-text {
  font-size: 18px;
}

.title-main {
  font-family: play;
  font-weight: 700;
  color: var(--main-color);
  font-size: 140px;
  line-height: 114px;
  text-transform: capitalize;
}

/* title-button */
.title-button {
  color: var(--white);
  background-color: var(--main-color);
  font-weight: 600;
  font-size: 18px;
  border: 2px solid var(--main-color);
  border-radius: 32px;
  align-items: center;
  padding: 16px 32px 16px 32px;
}

.title-button:hover {
  color: var(--body-color);
  background-color: transparent;
}

/* title under button */
.title-undertext {
  color: var(--sec-color-dark);
  align-items: center;
  font-size: 18px;
}
